body {
  background: url(https://ae01.alicdn.com/kf/HTB16Nc1ayDxK1Rjy1zcq6yGeXXax/Evening-Village-Scary-Pumpkin-Fence-Windmill-photo-backdrop-High-quality-Computer-print-Halloween-background.jpg_Q90.jpg_.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

/*header styles*/
.col{
  text-align: center;
  margin: .5em;
}

.header-bg-color {
  background-color: rgba(95, 15, 64, .5);
}
  
.header-img {
  padding: 1em;
  width: 200px;
  height: 200px;
  opacity: .5;
}

.header-h1 {
  font-family: 'Butcherman', cursive;
  color: #e36414;
  font-size: 400%;
  text-align: center;
}

.header-h2 {
  font-family: 'Butcherman', cursive;
  color: #e36414;
  font-size: 1.5em;
  text-align: center;
}
/*header styles END*/

/*body container styles*/
.row {
  margin: .5em;
}

.card-img {
  padding: .5em;
  width: 200px;
  height: 200px;
  opacity: .7;
}

.body-p, .body-ul {
  font-family: 'Creepster', cursive;
  color: #e36414;
  font-size: 1.6em;
}

ul {
  list-style: none;
}

.body-h2 {
  font-family: 'Creepster', cursive;
  font-size: 3em;
  color: #e36414;
}

/*footer style*/
.flexbox-container-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}

.flex-one {
  background-color: rgba(95, 15, 64, .5);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: .5em;
}

.footer-p {
  color: #e36414;
  font-family: 'Creepster', cursive;
  font-size: 20px;
}
