img{
    position: absolute;
    width: 75px;
    bottom: 15px;
    animation-name: myannie;
    -moz-animation-name: myannie;
    -moz-animation-delay: 2s;
    -moz-animation-duration: 3s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-direction: normal;
    animation-timing-function: ease-in-out;
    animation-play-state: running;
}