body {
  background: url(https://ae01.alicdn.com/kf/HTB16Nc1ayDxK1Rjy1zcq6yGeXXax/Evening-Village-Scary-Pumpkin-Fence-Windmill-photo-backdrop-High-quality-Computer-print-Halloween-background.jpg_Q90.jpg_.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

/*Dropdown START*/
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(95, 15, 64, .5);
  min-width: 160px;
  padding: 12px 16px;
  margin: 10px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-wrap {
  text-align: center;
}

.dropdown {
  padding: 10px;
}
/*Dropdown END*/

/*Animation start here*/
.spider-animation-two {
  position: absolute;
  z-index: 1;
  animation-name: mySpiderTwo;
  -moz-animation-name: mySpiderTwo;
  animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  animation-duration: 10s;
  -moz-animation-duration: 10s;
  animation-direction: alternate;
  -moz-animation-direction: alternate;
  animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}

@keyframes mySpiderTwo {
  0%   {transform: translateY(0);}
  25%  {transform: translateY(50%);}
  50%  {transform: translateY(20%);}
  100% {transform: translateX(-190%);}
}

.ghost-img {
  width: 120px;
  position: absolute;
  animation-name: myGhost;
  -moz-animation-name: myGhost;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-duration: 15s;
  -moz-animation-duration: 15s;
  animation-direction: alternate;
  -moz-animation-direction: alternate;
  animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}

@keyframes myGhost {
  0%   {transform: translateY(0);}
  25%  {transform: translateY(100%);}
  50%  {transform: translateX(80%);}
  100% {transform: translateX(90%);}
}
.ghost-two-img {
  width: 100px;
  position: absolute;
  animation-name: myGhostTwo;
  -moz-animation-name: myGhostTwo;
  animation-delay: .3s;
  -moz-animation-delay: .3s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-duration: 8s;
  -moz-animation-duration: 8s;
  animation-direction: alternate;
  -moz-animation-direction: alternate;
  animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}

@keyframes myGhostTwo {
  0%   {transform: translateX(0);}
  25%  {transform: translateX(-170%);}
  50%  {transform: translateX(-150%);}
  100% {transform: translateY(160%);}
}

.ghost-three-img {
  width: 80px;
  position: absolute;
  animation-name: myGhostThree;
  -moz-animation-name: myGhostThree;
  animation-delay: 1.7s;
  -moz-animation-delay: 1.7s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-duration: 12s;
  -moz-animation-duration: 12s;
  animation-direction: alternate;
  -moz-animation-direction: alternate;
  animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}

@keyframes myGhostThree {
  0%   {transform: translateY(0);}
  25%  {transform: translateY(-130%);}
  50%  {transform: translateY(110%);}
  100% {transform: translateX(-120%);}
}
/*Animation END here*/

/*header styles*/
.col{
  text-align: center;
  margin: .5em;
}

.header-bg-color {
  background-color: rgba(95, 15, 64, .5);
}
  
.header-img {
  padding: 1em;
  width: 200px;
  height: 200px;
  opacity: .5;
}

.header-h1 {
  font-family: 'Butcherman', cursive;
  color: #e36414;
  font-size: 400%;
  text-align: center;
}

.header-h2 {
  font-family: 'Butcherman', cursive;
  color: #e36414;
  font-size: 1.5em;
  text-align: center;
}
/*header styles END*/

/*body container styles*/
.row {
  margin: .5em;
}

.card-img {
  padding: .5em;
  width: 200px;
  height: 200px;
  opacity: .7;
}

.body-p, .body-ul {
  font-family: 'Creepster', cursive;
  color: #e36414;
  font-size: 1.6em;
}

ul {
  list-style: none;
}

.body-h2 {
  font-family: 'Creepster', cursive;
  font-size: 3em;
  color: #e36414;
}

/*footer style*/
.flexbox-container-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}

.flex-one {
  background-color: rgba(95, 15, 64, .5);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: .5em;
}

.footer-p {
  color: #e36414;
  font-family: 'Creepster', cursive;
  font-size: 20px;
}
.scale,.translateY,.skew,.threeD,.translateX,.rotate,.hover{
    transition-delay: 0.01s;
    transition-duration: 2s;
    transition-timing-function: ease-out;
}
.threeD:hover{
    transform: rotate3d(5, 5, 5, 360deg);
}
.translateY:hover{
    transform: translateY(50px);
}